# General
/results
/scratch
/pdk/*/scratch/
/logs
.vscode

# Python
.pytest_cache
__pycache__
.ruff_cache
.venv*
uv.lock

# Cadence / EDA
.cadence
*.cdslck
*.lvs*
*.report
*.ext
*.calibre.db
*.vcd
*.lck
si.env

# LaTeX
docs/tex/
*.log
*.aux
*.synctex.gz
*.fls
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.run.xml
*.bcf
*.snm
*.nav
*.vrb

# KiCad
*.bak
*.kicad_prl
*.kicad_sch-bak
*.kicad_pcb-bak
*-backups/
*-cache*
fp-info-cache
#auto_saved_files#
_autosave-*
