[submodule "pdk/tsmc65"]
	path = pdk/tsmc65
	url = git@github.com:kcaisley/tsmc65.git
[submodule "pdk/tower180"]
	path = pdk/tower180
	url = git@github.com:kcaisley/tower180.git
[submodule "pdk/tsmc28"]
	path = pdk/tsmc28
	url = git@github.com:kcaisley/tsmc28.git
[submodule "libs/Hdl21"]
	path = libs/Hdl21
	url = git@github.com:kcaisley/Hdl21.git
	branch = spectre
[submodule "libs/Vlsir"]
	path = libs/Vlsir
	url = git@github.com:kcaisley/Vlsir.git
	branch = spectre
[submodule "libs/basil"]
	path = libs/basil
	url = git@github.com:SiLab-Bonn/basil.git
	branch = cosimulation
[submodule "libs/spicebind"]
	path = libs/spicebind
	url = https://github.com/themperek/spicebind.git
[submodule "libs/cocotbext-ams"]
	path = libs/cocotbext-ams
	url = git@github.com:kcaisley/cocotbext-ams.git
	branch = netlist-ordering
[submodule "libs/cocotb"]
	path = libs/cocotb
	url = https://github.com/cocotb/cocotb.git
