/tech/nopdk/*
/tech/tsmc65/*
/tech/tsmc28/*

/build

__pycache__
.venv*
.vscode
.cadence
*.log
*.aux
*.synctex.gz
*.fls
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.run.xml
*.bcf
*.snm
*.nav
*.cdslck
*.lvs_
*.report
*.ext
*.calibre.db
*.test
*.vcd