[project]
name = "frida"
version = "0.1.0"
requires-python = "==3.12"
dependencies = [
    "numpy",
    "scipy",
    "pydantic",
    "pytest",
]

[tool.uv.sources]
hdl21 = { path = "../libs/Hdl21", editable = true }
vlsirtools = { path = "../libs/Vlsir/VlsirTools", editable = true }

[project.optional-dependencies]
dev = [
    "hdl21",
    "vlsirtools",
]

[tool.basedpyright]
ignore = ["alt/**"]

[tool.pytest.ini_options]
testpaths = ["alt"]
